# Banking System Mobile App Environment Variables

# API Configuration
API_BASE_URL=http://192.168.31.39:3001
API_TIMEOUT=10000

# API Endpoints
API_AUTH_URL=/api/auth
API_2FA_URL=/api/2fa
API_BANKING_URL=/api/banking
API_USER_URL=/api/user

# Development Settings
DEBUG_MODE=false
LOG_API_CALLS=false

# App Configuration
APP_NAME=Banking System
APP_VERSION=1.0.0 
UNIRATE_API_KEY=aR7WIfkcWrio3y3n9j41PWLZ7lEy0koteWgI7L0Za5qkGjaO99EpHi53Q70ZxsjA 